accelerate
audiomentations
bitsandbytes
cyrtranslit
datasets
datasets[audio]
dtw-python
envsubst
googletrans==3.1.0a0
huggingface_hub
jiwer
langid
lang-trans
Levenshtein
librosa
loralib
matplotlib==3.7.4
num2words
onnxruntime
openai-whisper
peft
psutil
PyAudio
py3nvml
pyannote.audio
pyannote.pipeline
pyarabic
pyctcdecode
pypi-kenlm
python-magic
python-slugify
soxbindings
tensorboard
text2num
textgrids
torch
torchaudio
torchvision
transformers
xmltodict
vosk
websockets