accelerate
audiomentations
bitsandbytes
cyrtranslit
datasets
datasets[audio]
dtw-python
envsubst
googletrans==3.1.0a0
huggingface_hub
jiwer
langid
lang-trans
Levenshtein
librosa
loralib
matplotlib==3.7.4
noisereduce
git+https://github.com/hedhoud/num2words.git
onnxruntime
openai-whisper
pedalboard
peft
psutil
praat-textgrids
PyAudio
py3nvml
pyannote.audio
pyannote.pipeline
pyarabic
pyctcdecode
pypi-kenlm
python-magic
python-slugify
so-vits-svc-fork
soxbindings
tensorboard
text2num
torch
torchaudio
torchvision
transformers
xmltodict
vosk
websockets