accelerate==0.19.0
audiomentations
bitsandbytes
datasets
datasets[audio]
dtw-python
envsubst
huggingface_hub
ipython
jiwer
langid
lang-trans
librosa
loralib
matplotlib
num2words
onnxruntime
# peft
git+https://github.com/huggingface/peft.git@4fd374e80d670781c0d82c96ce94d1215ff23306
psutil
py3nvml
pyannote.audio
pyannote.pipeline
pyarabic
pyctcdecode
pypi-kenlm
python-slugify
soundfile
soxbindings
streamlit
tensorboard
tempfile
torch
torchaudio -f https://download.pytorch.org/whl/cu113/torch_stable.html
torchvision
transformers==4.29.1
vosk
